body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.active{
  text-decoration: none;
  color:rgb(255, 255, 255);
  font-family:'Roboto';
}

.container {
  border: solid 1px rgba(255, 255, 255, 0.2);
}

table {
  color: rgb(104, 102, 102);
  font-size: 14px;
  table-layout: fixed;
  border-collapse: collapse;
}

thead {
  background: rgba(151, 147, 150, 0.4);
}

th {
  padding: 20px 15px ;
  font-weight: 700;
  text-transform: uppercase;
}

td {
  padding: 15px;
  border-bottom: solid 1px rgba(255, 255, 255, 0.2);
}


tbody tr {
  cursor: pointer;
}

tbody tr:hover {
  background: rgba(218, 194, 210, 0.4);
}